
<header class="header">
		<div class="home-btn"> <a href="/">PTG VR PROPOSAL</a></div>
		<div class=""> <a href="/deliverables">DELIVERABLES<b class="menu-bar"> |</b>	</a></div>
		<div class=""> <a href="/wiki">WIKI<b class="menu-bar"> |</b></a></div>
		<div class=""> <a href="/aknow">ACKNOWLEDGEMENTS</a></div>
	</header>
