
<head>
	<link href='https://fonts.googleapis.com/css?family=Bungee Shade' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Changa:300|Righteous|PT+Sans:400i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script|Quintessential|Dancing+Script|IBM+Plex+Mono|Gugi" rel="stylesheet">
</head>
<header class="header">
		<div class="home-btn"> <a href="/">PTG VR PROPOSAL</a></div>
		<div class=""> <a href="/deliverables">DELIVERABLES<b class="menu-bar"> |</b>	</a></div>
		<div class=""> <a href="/wiki">WIKI<b class="menu-bar"> |</b></a></div>
		<div class=""> <a href="/aknow">ACKNOWLEDGEMENTS</a></div>
	</header>
