<header class="header">
		<h1 class="logo"><a href="/">PTG VR Proposal</a></h1>
      <ul class="main-nav">
          <li><a href="/">Demo</a></li>
          <li><a href="/process">Process</a></li>
          <li><a href="/deliverables">Deliverables</a></li>
					<li><a href="/about">About Us</a></li>
      </ul>
	</header>
