<!-- main.handlebars -->
<!doctype html>
<html lang="en" style="overflow-x: hidden;">
<head>
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="HandheldFriendly" content="true">
  <title>PTG VR Proposal</title>
  <!-- css -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel=stylesheet  type = "text/css"
   href = "/css/preloader.css" />
   <link rel=stylesheet  type = "text/css"
    href = "/css/navbar.css" />
    <link rel=stylesheet  type = "text/css"
     href = "/css/home.css" />
    <link rel="icon"
     type="image/png"
     href="/img/apple-touch-icon.png">
   <!-- END css -->
   <!-- JQuery -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <!-- END JQuery -->
</head>
<body>
  <div id="container2">
  {{> navbar }}
</div>
  {{{body}}}
<script>
$( ".container" ).fadeOut( 7000, function() {
  });
$("#container2").hide().fadeIn(5000);

</script>
</body>
</html>
