<head>
  <link rel="stylesheet" href="/css/acknow.css" text="text/css" />
</head>
<main>
  <section id="acknowhead">
    <h3>Acknowledgements</h3>
    <h4>Most of the objects in this display were provided by the Piano Technicians Guild Foundation, from its Jack Wyatt Museum. Most of the action models, and many of the tools, are on loan from Jack and Rick Wyatt, who graciously gave permission for them to appear here. New modern tuning hammers were provided by Steven Fujan, Nate Reyburn, Charles Faulk, and Dan Levitan.</h4>
    <p> We would also like to acknowledge the people who made this possible, thanks to all of their continuous support</p>
  </section>

<section>
  <div id="f1_container">
  <div id="f1_card" class="shadow">
    <div class="front face">
  <img src="https://2.bp.blogspot.com/-Fv6WUdCrpbQ/WmYuE0DACkI/AAAAAAAAGcs/cMIvjrVUx90Lc7qV9czE5Hva-861hUk5QCLcBGAs/s1600/18342456_10158665458080424_3039717682069196605_n.png" />
    </div>
    <div id="ack1" class="back face center">
      <p>Carolyn Grant – Executive Director</p>
  <p>B.J. Morgan – Marketing Manager</p>
      <p>Jonathan Piper – Manager of Museum Collections and Exhibitions</p>
    </div>
  </div>
  </div>
</section>
<section>
  <div id="f1_container">
  <div id="f1_card" class="shadow">
    <div class="front face">
  <img src="/img/piano-technicians-guild-logo.png" />
    </div>
    <div class="back face center">
      <p>President – Claude Harding</p>
      <p>Vice President – Joyce Meekins</p>
      <p>Secretary-Treasurer – Fred Sturm</p>
      <p>Director - Melanie Brooks</p>
      <p>Director - Dave Conte </p>
      <p>Director - Carl Lieberman</p>
      <p>Director - Lucy Urlacher</p>
    </div>
  </div>
  </div>
</section>

</main>
