<head>
  <link rel="stylesheet" href="/css/acknow.css" text="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script|Quintessential|Dancing+Script|IBM+Plex+Mono|Gugi|Germania+One|Philosopher" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>
<main>
  <section id="acknowhead">
    <h2>Acknowledgements</h2>
    <h4>Most of the objects in this display were provided by the Piano Technicians Guild Foundation, from its Jack Wyatt Museum. Most of the action models, and many of the tools, are on loan from Jack and Rick Wyatt, who graciously gave permission for them to appear here. New modern tuning hammers were provided by Steven Fujan, Nate Reyburn, Charles Faulk, and Dan Levitan.</h4>
    <p> We would also like to acknowledge the following entities who made this possible, thanks to all of their continuous support</p>
  </section>


<section class="">
  <article class="thanks">
    <div class="">
      <img id="img-music"src="https://www.carlsbad.org/wp-content/uploads/2015/12/mid-n69516235423_3785.jpg" />
    </div>
    <div class="">
      <p>Carolyn Grant – Executive Director</p>
      <p>B.J. Morgan – Marketing Manager</p>
      <p>Jonathan Piper – Manager of Museum Collections and Exhibitions</p>
    </div>
  </article>
  <article class=" thanks">
    <div class="">
      <img id= "img-music2" src="/img/piano-technicians-guild-logo.png" />
    </div>
    <div class="">
      <p>President – Claude Harding</p>
      <p>Vice President – Joyce Meekins</p>
      <p>Secretary-Treasurer – Fred Sturm</p>
      <p>Director - Melanie Brooks</p>
      <p>Director - Dave Conte </p>
      <p>Director - Carl Lieberman</p>
      <p>Director - Lucy Urlacher</p>
    </div>
  </article>
</section>
<section>
<article class="">
  <
</article>
</section>
</main>
