
<section>

</section>
<section>
<div class="bookContainer">

  <div class="book hoveit">

    <div class="bookTop"></div>

    <div class="bookSide">
      <p>Piano Technicians Guild Virtual Reality Proposal</p>
      <p>Summary and Deliverables</p>
      <p>Developed by SPACEPOST</p>
    </div>

    <div class="bookSide2"></div>

    <div class="page backBook">Back of book</div>


    <div class="bookBottom"></div>


    <div class="page cover">
      <h2>Piano Technicians Guild Virtual Reality Proposal</h2>
      <p>Summary and Deliverables</p>
      <p>Developed by SPACEPOST</p>
    </div>

    <!--display your book pages in descending order. New pages are added to the top here.
        It's important you give each page the page and pagecontent class, along with a pagenumber class-->
        <div class="page pagecontent seventeenthPage">

        </div>
        <div class="page pagecontent sixteenthPage">

        </div>
        <div class="page pagecontent fifteenthPage">

        </div>
        <div class="page pagecontent fourteenthPage">

        </div>
        <div class="page pagecontent thirteenthPage">

        </div>
        <div class="page pagecontent twelvethPage">

        </div>
        <div class="page pagecontent eleventhPage">

        </div>
        <div class="page pagecontent tenthPage">

        </div>
        <div class="page pagecontent ninthPage">

        </div>
        <div class="page pagecontent seventhPage">

        </div>
        <div class="page pagecontent sixthPage">

        </div>
    <div class="page pagecontent fifthPage ">

    </div>


    <div class="page pagecontent fourthPage">
      <h2>TRAVEL DETAILS</h2>
        <p>
           Spacepost will send an agent to the PTG exhibit to conduct asset capture and development.
        </p>
        <p>
            This process will take 2-3 days at most, and encompasses capture of video, audio, and 3d models.
        </p>
        <img src="/img/piano-technicians-guild-logo.png" />
    </div>


    <div class="page pagecontent thirdPage">
      <h2>Step 1: Imaging</h2>
    </div>

    <div class="page pagecontent secondPage">
      <h2>SUMMARY Part 2</h2>
          <p>
            As described in the proposal steps, this process is estimated to be deliverable within a month of start, and have total project cost of $4 - 5 thousand dollars, including expenses.
            </p>
            <p >
   The core deliverable will be a multi-platform virtual reality and 3D tour web-app, which may be embedded within the PTG website... and will be compatible with all modern windows, osx, linux, andrioid, and ios systems.
          </p>
    </div>

    <div class="page pagecontent firstPage">
      <h2>SUMMARY</h2>
      <p> In this document we explore a possible road map towards the design, construction, and distribution of a VR PTG museum interactive experience. This roadmap is broken up into three steps, which can be summarized as follows:</p>
      <ul>
        <li>
          <span>Imaging: </span>Travel to and asset capture of the piano technican guild museum as a series of fully 4k VR capable 3d models, one imaging per point of interest.
        </li>
        <li>
          <span>Stitching: </span>Construction of a complete spatial model through stitching of the point of interest models.
        </li>
        <li>
          <span>Interactivity: </span> Design and deployment of a fully explorable VR app, with interactivity layers including per-exhibit information (in H.U.D. form), animated/dynamic exhibits, and narration/music audio layering.
        </li>
      </ul>
    </div>

  </div><!--book-->

  </div>
</div><!--bookContainer-->

</section>
<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="/js/book.js" type="text/javascript"></script>
