<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script|Quintessential|Dancing+Script|IBM+Plex+Mono|Gugi|Changa:300|Righteous|PT+Sans:400i" rel="stylesheet">
<script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
<link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
<link rel="canonical" href="https://codepen.io/alexnoz/pen/brazWd?depth=everything&limit=all&order=popularity&page=12&q=slider&show_forks=false" />

<!-- START PAGE BODY -->

<main >
	<!-- unseen artists section -->
	<section class="unseen-artist">
	        <div id="pushdown">
	          <h2 class="text-wrap home-unseen">UNSEEN ARTISTS</h2>
	          <h4 class="text-wrap"style ="font-family: 'IBM Plex Mono';">Sights and insights from the Piano Technicians Guild</h4>

	            <p id="currated"class="text-wrap">Curated by the Piano Technicans Guild Foundation NAMM Museum of Making Music</p>
	            <hr>
	            <br />
	        </div>
	        <div id="guild-img-container">
	              <img id="piano-guild-home" src="http://bangertpiano.com/sites/all/themes/bangert/images/piano-technicians-guild-logo.png">
	          </div>
	        </div>
	</section>
<section class="carosel-wrapper">
<div class="slider" id="slider" style="--img-prev:url(/img/activity2.png">
  <div class="slider__content" id="slider-content">
    <div class="slider__images">
      <div class="slider__images-item slider__images-item--active" data-id="1"><img src="/img/Concert Prep.jpg"/></div>
      <div class="slider__images-item" data-id="2"><img src="/img/Regulating.jpg"/></div>
      <div class="slider__images-item" data-id="3"><img src="/img/Tuning.jpg"/></div>
      <div class="slider__images-item" data-id="4"><img src="/img/Rebuilding.jpg"/></div>
			<div class="slider__images-item" data-id="5"><img src="/img/Voicing.jpg"/></div>
    </div>
    <div class="slider__text">
      <div class="slider__text-item slider__text-item--active" data-id="1">
        <div class="slider__text-item-head">
          <h3>Concert Prep</h3>
        </div>
        <div class="slider__text-item-info">
          <!-- <p>Regulating</p> -->
        </div>
      </div>
      <div class="slider__text-item" data-id="2">
        <div class="slider__text-item-head">
          <h3>Regulating</h3>
        </div>
        <div class="slider__text-item-info">
          <!-- <p>Survey  us in depth from anywhere life may find you</p> -->
        </div>
      </div>
      <div class="slider__text-item" data-id="3">
        <div class="slider__text-item-head">
          <h3>Tuning</h3>
        </div>
        <div class="slider__text-item-info">
          <!-- <p>VR Scans come with interactive links for you to follow and learn more</p> -->
        </div>
      </div>
      <div class="slider__text-item" data-id="4">
        <div class="slider__text-item-head">
          <h3>Rebuilding</h3>
        </div>
        <div class="slider__text-item-info">
          <!-- <p>Rooms are rendered at scale for a more realistic feel</p> -->
        </div>
      </div>
      <div class="slider__text-item" data-id="5">
        <div class="slider__text-item-head">
          <h3>Voicing</h3>
        </div>
				<div class="slider__text-item-info">
					<!-- <p>Rooms are rendered at scale for a more realistic feel</p> -->
				</div>
      </div>
    </div>
  </div>
  <div class="slider__nav">
    <div class="slider__nav-arrows">
      <div class="slider__nav-arrow slider__nav-arrow--left" id="left">to left</div>
      <div class="slider__nav-arrow slider__nav-arrow--right" id="right">to right</div>
    </div>
    <div class="slider__nav-dots" id="slider-dots">
      <div class="slider__nav-dot slider__nav-dot--active" data-id="1"></div>
      <div class="slider__nav-dot" data-id="2"></div>
      <div class="slider__nav-dot" data-id="3"></div>
      <div class="slider__nav-dot" data-id="4"></div>
      <div class="slider__nav-dot" data-id="5"></div>
    </div>
  </div>
</div>
</section>

<section>
  <!--  MATTERPORT VIDEO-->
  <div class="matterport-iframe" >
  <iframe src="https://my.matterport.com/show/?m=efQ2YzT4WYm" style="height:100%;width:100%" allowfullscreen allow="vr" frameborder="0"></iframe>
  </div>
  <!-- END MATTPERPORT -->
</section>
</main>
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
