<section>
  <form class="form" action="/wiki" method="get">
    <div class="form-group">
      <label for="search_query">Search Wiki</label>
      <input type="search" id="search_query" name="search_query">
    <button type="submit">Search</button>
    </div>
    </div>

</form>
{{# names}}
<p>
  {{name}}
</p>
{{/names}}
</section>
