<section>
  <form class="form" action="/" method="get">
    <div>
      <div>
      <label for="search_query">Search Wiki</label>
      <input type="search" id="search_query" name="search_query">
      <div class="button">
    <button type="submit">Search</button>
  </div>
    </div>
    </div>

</form>
</section>
