/* Petit+Formal+Script|Quintessential|Dancing+Script|IBM+Plex+Mono|Gugi|Changa:300|Righteous|PT+Sans:400i" */

#process-del{
  justify-content: center;
  text-align: center;
  margin-bottom: 3%;
}
#process-del>h1{
  font-family:'Quintessential';
}
#process-del>p{
  margin:1.5em;

}
/* HERO IMAGE */
