.matterport-iframe{
 display: block;
 text-align: center;
 background-color: #000000;
 clear:both;
 height:2em;
}
.container-fluid{
background-color: #000000:
margin:100px;
/*padding-top: 70px;*/
height: 30%;
display: block;
clear:both;

}
/*=============
UNSEEN ATRIST SECTION

=============*/
#unseen-artist{
  display:block;
  clear:both;
  margin-bottom:30px;
}
h2 {
		 font-size: 24px;
		 text-transform: uppercase;
		 color: #303030;
		 font-weight: 600;
		 margin-bottom: 30px;
 }
 h4 {
		 font-size: 16px;
		 line-height: 1.375em;
		 color: #303030;
		 font-weight: 400;
		 margin-bottom: 30px;
 }
