.matterport-iframe{
 display: block;
 text-align: center;
 background-color: #000000;
height:500px;
}

/*=============
UNSEEN ATRIST SECTION

=============*/

.unseen-artist{
  display:flex;
  flex-direction:column;
  justify-content: center;
  height:600px;
  background: #696969;
}
.unseen-artist>div{
  text-align:center;
}
.text-wrap{
  margin:1.5em;
}
/*PIANO GUILD IMG SECTION*/
.unseen-artist > div:nthchild(2){
  height: 50%;
}

.unseen-artist > div > img{
  height:200px;
}
/*PIANO GUILD IMAGE END*/
.home-unseen {
      background-color: #F5F5F5;
      border: none;
      border-radius: 25px;
      color: #000000;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 30px;
      margin: 15px 2px;
      box-shadow: 5px 10px;
    }

 h4 {
		 font-size: 16px;
		 line-height: 1.375em;
		 color: #303030;
		 font-weight: 400;
		 margin-bottom: 30px;

 }
 /*==========================================*/
 /*ANIMATION SECTION*/
 /*============================================*/

 .unseen-artist > div:nth-child(2) :hover {
transition: transform 2s;
transform-style: preserve-3d;
transform: perspective(400px) rotateY(360deg);
}
.home-unseen:hover{
transition: 3s;
transform-style: preserve-3d;
transform:perspective(400px) rotateX(360deg)
}

/*  =================================*/
/* MEDIA QUERIES */
/* ================================== */
@media screen and (max-width: 600px) {
  .home-unseen {
    margin:1.5em;
  }
}
