body,html {
  /* position: fixed; */
     width: 100%;
     height: 100%;
  padding:0;
  margin: 0 auto;
  box-sizing: content-box;
  /* max-width:100%; */
}
section{
  max-width:100%;
}
main{
  max-width:100%;
}
header{
  display:flex;
justify-content: flex-end;
  flex-direction: row;
  background:#D3D3D3;
  padding: 10px;
  border-radius:10px;

  /* box-shadow: 5px 5px;; */
}
header>div{
  height:100%
  display: block;
  padding:10px;
font-family: 'Changa';
}

.home-btn{
  margin-right: auto;
  font-family: 'Bungee Shade';
  font-size: 1.5em;
}
/* HOME BUTTON ANIMATION */
.home-btn:hover{

}
.menu-bar{
  margin:5px;
}
header>div>a {
  text-decoration: none;
color:#000000;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
header{
  flex-direction: column;
  text-align:center;
  background: radial-gradient(grey,white);
max-width:100%;
}
.home-btn{
    text-align:center;
    margin:0 auto;
}
.header>div>a>b{
  display:none;
}
