body,html {
    padding: 0;
    height: 100%;
    margin: 0px;

}
section{
  max-width:100%;
}
main{
  max-width:100%;
}
header{
  display:flex;
justify-content: flex-end;
  flex-direction: row;
background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(43,43,43,1) 0%,rgba(0,0,0,1) 0%,rgba(0,0,0,1) 0%,rgba(89,89,89,1) 42%,rgba(89,89,89,1) 75%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%,rgba(71,71,71,1) 100%);
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius:10px;
}
header>div{
  height:100%;
  color:#ffffff;
  display: block;
  padding:10px;
font-family: 'Righteous';
 letter-spacing:1px;
 margin-top: 5px;
}

.home-btn{
  margin-right: auto;
  font-family: 'Gugi';
  font-size: 2em;
}
/* HOME BUTTON ANIMATION */
.home-btn:hover{

}
.menu-bar{
  margin:5px;
}
header>div>a {
  text-decoration: none;
color:#fff;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
header{
  flex-direction: column;
  text-align:center;
  /* background: radial-gradient(grey,white); */
max-width:100%;
}
.home-btn{
    text-align:center;
    margin:0 auto;
}
.header>div>a>b{
  display:none;
}
